body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,strong{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

body {
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#fff;
	color:556;
}
#cuerpo {
	width:560px;
	margin:0 auto;
}
#encabeza {
	background:url(ima/h1.jpg) right no-repeat;
	height:160px;
}
#encabeza h1 {
	font-size:2em;
	font-weight:bold;
	padding:110px 0 0 0;
	color:#ccc;
}
#encabeza h1 a {
	color:#ccc;
}

strong {
	font-weight:bold;
}
p {
	margin-top:0.5em;
	text-align:justify;
}
#displays img {
	padding:0 6px;
}
#displays a:hover {
	text-decoration:none;
}

a {
	color:#464;
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:underline;
}
